
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&display=swap"
    rel="stylesheet">
<link rel="stylesheet" href="{% static 'asset2/plugins/bootstrap/css/bootstrap.min.css'  %}">
<link rel="stylesheet" href="{% static 'asset2/plugins/fontawesome/css/fontawesome.min.css'  %}">
<link rel="stylesheet" href="{% static 'asset2/plugins/fontawesome/css/all.min.css'  %}">
<link rel="stylesheet" href="{% static 'asset2/plugins/owlcarousel/owl.carousel.min.css'  %}">
<link rel="stylesheet" href="{% static 'asset2/plugins/owlcarousel/owl.theme.default.min.css'  %}">
<link rel="stylesheet" href="{% static 'asset2/plugins/aos/aos.css'  %}">
<link rel="stylesheet" href="{% static 'asset2/css/style.css'  %}">

</head>
<body>
    
</body>

<script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>

<script src="{% static 'asset2/js/jquery-3.6.0.min.js' %}"></script> 
<script src="{% static 'asset2/js/popper.min.js' %}"></script> 
<script src="{% static 'asset2/plugins/bootstrap/js/bootstrap.min.js' %}"></script> 
<script src="{% static 'asset2/plugins/owlcarousel/owl.carousel.min.js' %}"></script> 
<script src="{% static 'asset2/plugins/aos/aos.js' %}"></script> 
<script src="{% static 'asset2/js/script.js' %}"></script> 
</html>




   {% block content %}
{% endblock %}
