{% load static %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<nav id="sidebar" class="active">
  <div class="sidebar-header">
      <img src="{% static 'assets/logo.png' %}" alt="bootraper logo" style="width: 100px;" class="app-logo">
  </div>
  <br>
  <br>
  <br>
  <ul class="list-unstyled components text-secondary">
      <li>
          <a href="dashboard.html"><i class="fas fa-home"></i> Dashboard</a>
      </li>
      <li>
          <a href="forms.html"><i class="fas fa-file-alt"></i> Forms</a>
      </li>
     
   
  </ul>
</nav>