{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Service Hut</title>
    <link rel="stylesheet" href="{% static 'adminasset/assets/img/favicon.png'  %}">
    <link rel="stylesheet" href="{% static 'adminasset/assets/plugins/bootstrap/css/bootstrap.min.css'  %}">
    <link rel="stylesheet" href="{% static 'adminasset/assets/plugins/fontawesome/css/fontawesome.min.css'  %}">
    <link rel="stylesheet" href="{% static 'adminasset/assets/plugins/fontawesome/css/all.min.css'  %}">
    <link rel="stylesheet" href="{% static 'adminasset/assets/css/animate.min.css'  %}">
    <link rel="stylesheet" href="{% static 'adminasset/assets/css/admin.css'  %}">

    
</head>

<body>
    <div class="main-wrapper">

        <div class="header">
            <div class="header-left">
                <a href="index.html" class="logo logo-small">
                    <img src="assets/img/logo-icon.png" alt="Logo" width="30" height="30">
                </a>
            </div>
            <a href="javascript:void(0);" id="toggle_btn">
                <i class="fas fa-align-left"></i>
            </a>
            <a class="mobile_btn" id="mobile_btn" href="javascript:void(0);">
                <i class="fas fa-align-left"></i>
            </a>
           
        </div>


        <div class="sidebar" id="sidebar">
            <div class="sidebar-logo">
                <a href="index.html">
                    <img src="assets/img/logo-icon.png" class="img-fluid" alt="">
                </a>
            </div>
            <div class="sidebar-inner slimscroll">
                <div class="sidebar-inner slimscroll">
                    <div id="sidebar-menu" class="sidebar-menu">
                        <ul>
                            <li class="">
                                <a href="/shop_home"><i class="fas fa-columns"></i> <span>Dashboard</span></a>
                            </li>
                       
                     
                           
                            <li>
                                <a href="/shop_edit_profile"><i class="fas fa-bullhorn"></i> <span> Edit Profile</span></a>
                            </li>
                            <li class="active">
                                <a href="/managereq"><i class="fas fa-bullhorn"></i> <span> Service Request Status</span></a>
                            </li>
                          
                          
                         
                            <li>
                                <a href="/logout"><i class="fas fa-bullhorn"></i> <span> Logout</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-wrapper">
          <div class="content container-fluid">
            <div class="page-header">
              <div class="row">
                  <div class="col">
                      <h3 class="page-title"> Services request status</h3>
                  </div>
                  <div class="col-auto text-end">
                     
                      <a href="/post_service" class="btn btn-primary add-button ml-3">
                          <i class="fas fa-plus"></i>
                      </a>
                  </div>
              </div>
          </div>
          <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-center mb-0 datatable">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Customer Name</th>
                                        <th>Request Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                 
                                  <tr>
                                    <td>1</td>
                                    <td>
                                  Vinay 
                                    </td>
                                    <td>Pending </td>
                                 
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>
                                  Kapil 
                                    </td>
                                    <td>Active </td>
                                 
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>
                                  Akash 
                                    </td>
                                    <td>Repaired </td>
                                 
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
          </div>
      </div>
    <script src="{% static 'adminasset/assets/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'adminasset/assets/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'adminasset/assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'adminasset/assets/js/admin.js' %}"></script>

</body>

</html>