{% load static %}

<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
         <title>Job board HTML-5 Template </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="assets/css/feather.css" rel="stylesheet" type="text/css">
  
        <link rel="stylesheet" href="{% static 'asset1/css/bootstrap-grid.css'  %}">
        <link rel="stylesheet" href="{% static 'asset1/css/icons.css'  %}">
        <link rel="stylesheet" href="{% static 'asset1/css/style.css'  %}">
        <!-- <link rel="stylesheet" href="{% static 'assets/css/price_rangs.css'  %}">
        <link rel="stylesheet" href="{% static 'assets/css/slicknav.css'  %}">
        <link rel="stylesheet" href="{% static 'assets/css/animate.min.css'  %}">
        <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css'  %}">
        <link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css'  %}">
        <link rel="stylesheet" href="{% static 'assets/css/themify-icons.css'  %}">
        <link rel="stylesheet" href="{% static 'assets/css/slick.css'  %}">
        <link rel="stylesheet" href="{% static 'assets/css/nice-select.css'  %}">
        <link rel="stylesheet" href="{% static 'assets/css/style.css'  %}"> -->


   
   </head>
<body>
    <div class="wrapper">
    
    </div>
</body>
<script src="{%  static 'https://use.fontawesome.com/6e15d9bdff.js'  %}"></script>

 
   <script src="{% static 'asset1/js/custom_jquery.js' %}"></script> 
   <script src="{% static 'asset1/js/typed.js' %}"></script> 
   <script src="{% static 'asset1/js/slick.min.js' %}"></script> 
   <script src="{% static 'asset1/js/magnific-popup.min.js' %}"></script> 
   <script src="{% static 'asset1/js/counterup.min.js' %}"></script> 
   <script src="{% static 'asset1/js/clipboard.min.js' %}"></script> 
   <script src="{% static 'asset1/js/snackbar.js' %}"></script> 
   <script src="{% static 'asset1/js/bootstrap-select.min.js' %}"></script> 
   <script src="{% static 'asset1/js/bootstrap-slider.min.js' %}"></script> 
   <script src="{% static 'asset1/js/simplebar.min.js' %}"></script> 
   <script src="{% static 'asset1/js/tippy.all.min.js' %}"></script> 
   <script src="{% static 'asset1/js/mmenu.min.js' %}"></script> 
   <script src="{% static 'asset1/js/jquery-migrate-3.0.0.min.js' %}"></script> 
   <script src="{% static 'asset1/js/jquery-3.3.1.min.js' %}"></script> 





   {% block content %}
{% endblock %}
