{% extends 'includes/base.html' %}
{% load static %}
{% block content %}


<div class="">

    <div class="main-banner">
        
        <div class="container-fluid container-large">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="banner-text-area banner-text-area-1 pr-20">
                        <h6>TV Repairing Services</h6>
                        <h1>A Smarter Technology Repair Service.</h1>
                        
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="banner-img-area">
                        <img class="secondary-img" src="{% static 'assets/images/banner/banner-1-img.jpg'  %}" alt="image">
                        <div class="banner-img-slider-area owl-carousel">
                            <img src="{% static 'assets/images/banner/banner-slider-1.jpg' %}" alt="image">
                            <img src="{% static 'assets/images/banner/banner-slider-2.jpg' %}" alt="image">
                            <img src="{% static 'assets/images/banner/banner-slider-3.jpg' %}" alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="features pt-70 pb-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="features-card">
                        <img src="{% static 'assets/images/icons/secure-shield.png' %}" alt="image">
                        <h4>Reliable Services</h4>
                        <p>Lorem ipsum dolor sit amet rts consecte ab elit ut elit tell luctus nec ullamcor.</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="features-card">
                        <img src="{% static 'assets/images/icons/certificate.png' %}" alt="image">
                        <h4>Licensed & Certified</h4>
                        <p>Lorem ipsum dolor sit amet rts consecte ab elit ut elit tell luctus nec ullamcor.</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="features-card">
                        <img src="{% static 'assets/images/icons/user.png' %}" alt="image">
                        <h4>Skilled Personal</h4>
                        <p>Lorem ipsum dolor sit amet rts consecte ab elit ut elit tell luctus nec ullamcor.</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="features-card">
                        <img src="{% static 'assets/images/icons/setting.png'  %}" alt="image">
                        <h4>Quality Guarantee</h4>
                        <p>Lorem ipsum dolor sit amet rts consecte ab elit ut elit tell luctus nec ullamcor.</p>
                    </div>
                </div>
            </div>
        
        </div>
    </div>


    <div class="about pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-text-area pr-20">
                        <div class="default-section-title">
                            <span>About Us</span>
                            <h3>We Can Fix All Types Of TV's</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nec ut viverra eros euismod.
                                Vestibulum, diam suspendisse adipiscing diam quis. Et id volutpat sit odio venenatis a
                                dui. Pharetra, quam non, amet pretium tincidunt sem tincidunt fringilla. Convallis ac
                                viverra egestas in.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nec ut viverra eros euismod.
                                Vestibulum, diam suspendisse adipiscing diam quis. Et id volutpat sit odio venenatis a
                                dui Pharetra.</p>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-img-area">
                        <img src="assets/images/about/about1.jpg" alt="image">
                        <div class="about-img-text">
                            <i class="flaticon-badge"></i>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        
    </style>
    <div class="container">
        <H1 >Some Video to help to troubleshoot you TV</H1>

        <div class="row">
          <div class="col-md-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="400" height="315" src="https://www.youtube.com/embed/_PwRZO858-Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>            </div>
                <h2>Fix Aptoide TV App Not Open Problem in Smart TV
                </h2>
          </div>
          <div class="col-md-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="400" height="315" src="https://www.youtube.com/embed/NXodr8WOjX4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>            </div>
                <h2>Android TV boot loop Easy Fix
                </h2>
           
          </div>
          <div class="col-md-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="400"height="315" src="https://www.youtube.com/embed/_LJ93KaX6uk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>            </div>
            <h2>

                SAMSUNG SMART LED TV SOFTWARE UPGRADE FULL PROCESS BY USB IN HINDI TUTORIAL
           
          </div>
          <div class="col-md-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="400"height="315" src="https://www.youtube.com/embed/_LJ93KaX6uk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>            </div>
            <h2>

                MI TV मे pen drive कि मदत से offline software kaise kare, easy technique please subscribe
           
          </div>
            <div class="col-md-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="400"height="315" src="https://www.youtube.com/embed/maOux6yb9r0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>            </div>
            <h2>

                LG LED TV 32 INCHES VERTICAL_LINES_BAR_PROBLAM SOLUTION MODEL NUMBER : 32LN5110-TB
                
          </div>
          <div class="col-md-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="400"height="315" src="https://www.youtube.com/embed/n0InBEbblQE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>            </div>
            <h2>

                How to Rearrange Apps from Home Screen on Android Smart TV
                
          </div>
        </div>
      </div>
      


 

    <div class="sign-up ptb-100">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="sign-up-form-area">
                        <div class="default-section-title color-title">
                            <h3>Find the best tv service </h3>
                            <p></p>
                        </div>
                        <form>
                           
                            <div class="form-check">
                                
                            </div>
                            <a href="/shop_list"  class="default-button"> Find Service</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
  --principal-font: 'Kumbh Sans', sans-serif;
  --font-size: 12px;

  --bg-gradient: linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%));

  --primary-dark-color: hsl(238, 29%, 16%);
  --primary-soft-color: hsl(14, 88%, 65%);

  --neutral-dark-color: hsl(237, 12%, 33%);
  --neutral-soft-color: hsl(240, 6%, 50%);

}


html {
  box-sizing: border-box;
}
* {box-sizing: inherit;}

.attribution { 
  font-size: 11px; text-align: center; 
  background-color: hsl(240, 5%, 91%);
  padding: 8px 0 5px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.attribution a { color: hsl(228, 45%, 44%); }

/* global */
/*================================================*/


.card-wrapper {
  min-height: 100vh;
  padding-bottom: 50px; /* footer fixed */
  padding-top: 25px;
}

p {
  margin: 0 0 12px;
  line-height: 1.5;
}

h2 {
  margin: 12px 0;
}


/* generics */
/*================================================*/

.content-cc{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FAQ card */
/*================================================*/

.faq-card {

  background-color: #fff;
  border-radius: 20px;

  max-width: 310px;
  margin-top: 90px;
  
  box-shadow: 0px 60px 50px -25px rgba(0, 0, 0, 0.35);
}

/* FAQ card: imagenes */
/*================================================*/


.faq-ilustrations{
  position: relative;
}

.faq-ilustrations .mobile.ilust{
  position: absolute;
  top:-110px;
  left:-30px;
  right: 0;
}

.mobile{
  display: block;
  margin: 0 auto;
}


/* FAQ card: main */
/*================================================*/

.faq-content {
  padding: 9px 25px 3rem; 
}

.faq-content h1 {
  font-size: 32px;
  text-align: center;
  color: var(--primary-dark-color);
}

.faq-accordion {
  padding: 8px 0;
  border-bottom: 1px solid hsl(240, 5%, 91%);
}


/* FAQ card: main title */
/*================================================*/

/* checkbox tgg-title*/
input.tgg-title {
  appearance: unset;
  all:unset;
}

.faq-accordion-title label{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.faq-accordion-title h2{
  font-size: 12px /*var(--font-size)*/;
  font-weight: 400;
  color: var(--neutral-dark-color);
}

.faq-accordion-title span{
  margin-left: auto;
  transition: transform .4s ease-in-out;
}


/* FAQ card: main content */
/*================================================*/

.faq-accordion-content {
  color: var(--neutral-soft-color);
  overflow: hidden;
  max-height: 0;
  transition: max-height .4s ease-in-out;
}


/* Effects */
/*================================================*/

/* main title, accordion title effects */

.faq-accordion-title:hover h2{
  color: var(--primary-soft-color)
}

/* onclick "" */
.faq-accordion .tgg-title:checked + div>label>h2 {
  font-weight: 700;
}

.faq-accordion .tgg-title:checked + div>label>span {
  will-change: transform;
  transform: rotate(180deg);
}

/* main content, acordion text effect */

.faq-accordion .tgg-title:checked ~ .faq-accordion-content{
  will-change: max-height;
  max-height: 80px;
}

.chag{
    font-size: 30px !important;
    color: white !important;
}

</style>


    <div class="newsletter ptb-100"  >
        <div class="container">
            <main class="faq-content">
                <h1>FAQ</h1>
          
                <div class="faq-articles">
          
                  <article class="faq-accordion">
          
                    <input type="checkbox" class="tgg-title" id="tgg-title-1">
          
                    <div class="faq-accordion-title">
                      <label for="tgg-title-1">
                        <h2 class="chag" >Is Shop owner charge for home service</h2>
                        <span class="arrow-icon">
                          <img src="https://raw.githubusercontent.com/Romerof/FAQ-accordion-card/main/images/icon-arrow-down.svg">
                        </span>
                      </label>
                    </div>
          
                    <div class="faq-accordion-content">
                      <p  class="chag">Yes</p>
                    </div>
          
                  </article> <!-- faq accordion -->
          
                  <article class="faq-accordion">
          
                    <input type="checkbox" class="tgg-title" id="tgg-title-2">
          
                    <div class="faq-accordion-title">
                      <label for="tgg-title-2">
                        <h2  class="chag">
                         How I can find service
                        </h2>
                        <span class="arrow-icon">
                          <img src="https://raw.githubusercontent.com/Romerof/FAQ-accordion-card/main/images/icon-arrow-down.svg">
                        </span>
                      </label>
                    </div>
          
                    <div class="faq-accordion-content">
                      <p  class="chag">In the Service Page</p>
                    </div>
          
                  </article> <!-- faq accordion -->
          
                  <article class="faq-accordion">
          
                    <input class="tgg-title" type="checkbox" id="tgg-title-3">
          
                    <div class="faq-accordion-title">
                      <label for="tgg-title-3">
                        <h2  class="chag">
                          How do I reset my password?
                        </h2>
                        <span class="arrow-icon">
                          <img src="https://raw.githubusercontent.com/Romerof/FAQ-accordion-card/main/images/icon-arrow-down.svg">
                        </span>
                      </label>
                    </div>
          
                    <div class="faq-accordion-content">
                      <p  class="chag">Click “Forgot password” from the login page or “Change password” from your profile page.
                        A reset link will be emailed to you.</p>
                    </div>
          
                  </article> <!-- faq accordion -->
          
               
                </div> <!-- faq articles -->
          
              </main> <!-- faq -->
          
          </div>
          
    </div>
    
</div>
{% endblock content %}
