
    {% load static %}
    <div class="footer ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="footer-logo-area">
                        <a href="index.html"><img src="assets/images/white-logo.png" alt="logo"></a>
                        <p>Lorem ipsum dolor sit amet, conse ctetur adip iscing elit. Nt viverra eros euis mod Vestibu
                            diam suspendisse adi pisc diam quis. Et id volutpat sit odio.</p>
                        <div class="footer-social-area">
                            <ul>
                                <li><a href="https://www.facebook.com/" target="_blank"><i
                                            class="fab fa-facebook-f"></i></a></li>
                                <li><a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li><a href="https://www.instagram.com/" target="_blank"><i
                                            class="fab fa-instagram"></i></a></li>
                                <li><a href="https://www.pinterest.com/" target="_blank"><i
                                            class="fab fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="footer-links footer-lp footer-services">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="#">PC Repair</a></li>
                            <li><a href="#">Laptop Repair</a></li>
                            <li><a href="#">Smartphone Repair</a></li>
                            <li><a href="#">Tablet Repair</a></li>
                            <li><a href="#">Mac Repair</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="footer-links footer-lp">
                        <h3>Useful Links</h3>
                        <ul>
                            <li><a href="terms.html">Conditions</a></li>
                            <li><a href="privacy.html">Privacy Policy</a></li>
                            <li><a href="blog.html">Latest Blogs</a></li>
                            <li><a href="testimonial.html">Testimonials</a></li>
                            <li><a href="mechanics.html">Our Mechanics</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="footer-links footer-contact">
                        <h3>Get In Touch</h3>
                        <div class="footer-contact-card">
                            <i class="flaticon-phone-call"></i>
                            <h6>Phone</h6>
                            <p><a href="tel:123456778">+123 456 778</a></p>
                        </div>
                        <div class="footer-contact-card">
                            <i class="flaticon-email"></i>
                            <h6>Email</h6>
                            <p><a
                                    href="https://templates.hibootstrap.com/cdn-cgi/l/email-protection#adc4c3cbc2eddfc8ddcc83cec2c0"><span
                                        class="__cf_email__"
                                        data-cfemail="7811161e17380a1d0819561b1715">[email&#160;protected]</span></a>
                            </p>
                        </div>
                        <div class="footer-contact-card">
                            <i class="flaticon-location"></i>
                            <h6>Loaction</h6>
                            <p><a href="#" target="_blank">Nagpur</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
